:host {
    display: block;
    background: #fff;
    --brownColor: green;
    /* @apply --typography; */
}

:host * {
    box-sizing: border-box;
}

.user-card {
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    margin-bottom: 15px;
    border-bottom: #000 1px solid;
}

.user-card img {
    width: 100%;
}

.user-card button {
    cursor: pointer;
    background: var(--blackColor, #000);
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

h2 {
    color: var(--brownColor, orange)
}
